
<h1>
  MEANit, Reddit Clone - By cshanfycz
</h1>
<hr>
<div ng-switch=" user || '_undefined_' ">
  <div ng-switch-when="_undefined_">
    <a href="/auth/github">Login</a>
  </div>
  <div ng-switch-default>
    Hello, {{user.name}}
    <a href="/logout">Logout</a>
  </div>
  <input type="text" ng-model="text" class="new-post-text"></input>
  <button ng-click="addPost()" type="button" class="btn btn-std">Create new post</button>
  <hr>
  <ul data-ng-app="upvoter" data-ng-controller="homeController">
    <li ng-repeat="post in posts | orderBy : '-upvotes' ">
      <div class="whole-post">
        <div class="voting">
          <div class="upvote arrow login-required" ng-click="increaseUpvotes(post)"></div>
          <div class="score">{{post.upvotes + post.downvotes }}</div>
          <div class="downvote arrow login-required" ng-click="decreaseDownvotes(post)"></div>
        </div>
        <div class="post-text">
          {{post.text}}
          <a href="#topic/{{post._id}}">comments</a>
        </div>
    </div>
    <div class="clearleft"></div>
    </li>
  </ul>
</div>
